header {
   padding: 10px 24px;
   height: 6vh;
   border-bottom: 1px solid #e1e1e1;
}
header .logo-img {
   height: 4vh;
}
.logo span {
   font-size: 19px;
   font-weight: 600;
   color: #8cc63f;
}
.header-block > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
